---
import '../styles/global.css';

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';

const pageTitle = "Sobre mi";

const identity = {
  firstName: "Fernando",
  country: "Colombia",
  occupation: "Desarrollador y programador Web",
  hobbies: ["YouTube", "Ver Tv series", "Dragon Ball Z"],
};

const skills = ["HTML", "CSS", "JavaScript", "Git", "Astro", "Markdown"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "capitalize";


---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} >> El blog de Astro y WordPress</title>
        <style define:vars={{skillColor, fontWeight, textCase}}>
           
            .skill {
              color: var(--skillColor);
              font-weight: var(--fontWeight);
              text-transform: var(--textCase);
            
                       
            }
        </style>
	</head>
	<body>
        <Header />
        <main>
		<h1>{pageTitle}</h1>
		<h2>El Blog que te enseña sobre cómo conbinar WordPress y Astro</h2>
		<p>Este blog nace de la oportunidad de hablar sobre cómo combinar WordPress y Astro para hacer sitios webs Headless impresionantes aprovechabdo 
            lo mejor de ambos mundos.
        </p>

		<p>He aquí algunos datos sobre mí:</p>
  <ul>
       <li class="skill">Me llamo {identity.firstName}.</li>
       <li class="skill">Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
       {identity.hobbies.length >= 2 &&
       <li class="skill">Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
       }
  </ul>
       <p>Mis habilidades son:</p>
     
  <ul>
       {skills.map((skill) => <li class="skill">{skill}</li>)}

    </ul>

	{happy && <p>¡Estoy feliz de aprender Astro!</p>}

    {finished && <p>¡He terminado este tutorial!</p>}

    {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
    </main>
    <Footer />
    <script>
        import "../scripts/menu.js";
    </script>
	</body>
</html>